.flash-message

= render 'sidebar'
.right
  .right__header
    .right__header__group
      .right__header__group--name
        test_group
      %a.right__header__group--edit-button
        Edit
    .right__header__users
      kaisei
  .right__body
    .right__body__messages__list
      .right__body__messages__list__message
        .right__body__messages__list__message--name
          kaisei
        .right__body__messages__list__message--time
          1996/10/1
        .right__body__messages__list__message--body
          test_message
  .right__footer
    .right__footer__form
      .right__footer__form--body
        .right__footer__form--body--body
          .right__footer__form--body--body-text
            Type a message
          %a.right__footer__form--body--body-file
            %i.fa.fa-picture-o
        .right__footer__form--body-send
          Send